[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pandas = "*"
pydantic-settings = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-xdist = "*"
rich = "*"
uvicorn = "*"
pydantic = "*"
matplotlib = "*"
langchain-community = "*"
openai = "*"
langchain-openai = "*"
langchain = "*"

[dev-packages]
vulture = "*"
mypy = "*"
ruff = "*"
asyncpg-stubs = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
